defaults: &defaults
  username: "your LinkedIn username"
  password: "your LinkedIn password"
  query:
    title: "engineering"
    postcodes: [94025, 90210]
    keywords: "ruby rails"

development:
  <<: *defaults